{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="index">
        <h1>Bem vindo ao TDLT<em>(Totalmente Diferente de uma Lista de Tarefas)</em></h1>
    </div>
    <br>
    {% if current_user.is_anonymous %}
        <h3>Antes de começar você precisa de uma conta!</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ainda não tenho uma conta</h5>
                <p class="card-text">Crie agora sua conta e aproveite 100% do que o site pode oferecer!</p>
                <a href="{{ url_for('new_user') }}" class="btn btn-primary">Criar conta</a>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Já tenho uma conta</h5>
                <p class="card-text">Se você já possui uma conta, entre e comece a usar o nosso site.</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    {% else %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{{ url_for('new_task') }}" class="btn btn-primary">Novo item</a>
    </div>
    <br>
    {% for item in task_list %}
        <div class="list-group-item">
            <div class="ms-2 me-auto">
                <h4 class="fw-bold">{{ item.title|capitalize }}</h4>
                <p><small>{{ item.description|capitalize }}</small></p>
                {% if item.status == 'pending'%}
                    <span class="badge bg-warning rounded-pill">{{ item.status|capitalize }}</span>
                {% elif item.status == 'completed' %}
                    <span class="badge bg-success rounded-pill">{{ item.status|capitalize }}</span>
                {% endif %}
            </div>
            <br>
            {% if item.status == 'pending'%}
                <a href="{{url_for('complete_task', task_id=item.id) }}" class="btn btn-outline-success">Completar</a>
                <a href="{{url_for('update_task', task_id=item.id) }}" class="btn btn-outline-warning">Alterar</a>
            {% endif %}
            <a href="{{url_for('delete_task', task_id=item.id) }}" class="btn btn-outline-danger">Excluir</a>
        </div>
        <br>
    {% endfor  %}
    {% endif %}

{% endblock %}